
link(rel='stylesheet' type='text/css' href='../../_styles/master.css')
link(rel='stylesheet' href='https://s3.amazonaws.com/icomoon.io/12424/AngryEagle/style.css?jdjcm2')
script(type='text/javascript' src='../../_scripts/min/fancybox-min.js')

body

  .overlay.rates
   
    h3.headline
      span.icon-rates 
      |  2017 Rates
      
    h4.subhead $7850 per week
    
    h5.heading 7 days and 7 nights
    
    p.section-head Included
    
    p upscale food and lodging
    p daily guided fishing trips
    p fly-out fishing trips
    p fly, spinning, and bait casting equipment
    p beverages
    p daily maid and laundry service
    p.italic the adventure of a lifetime

    p.section-head Not Included
    
    p fishing license and king salmon tag
    p airfare to Anchorage
    p Anchorage hotels
    p airfare from Anchorage to lodge
    p liquor
    p gratuities
    p.italic the daily grind

    a.button Let&rsquo;s Talk About It
