
extends layout

block sidebar

  a.menu

  .nav-pane.slide-out.home

    .nav-items

      .listone
        input(type="checkbox" id="listone" class='droppers')

        a.icon-private
          span.list-item Schedule Personal Training
          
        .hideshow
          healcode-widget(data-type="appointments" data-widget-partner="object" data-widget-id="f733438b3b7" data-widget-version="0")

            
      .listtwo
        input(type="checkbox" id="listtwo" class='droppers')

        a.icon-group
          span.list-item Schedule Group Classes
          
        .hideshow
          h1.healcode-title-text Group Classes
          healcode-widget.healcode(data-type="schedules" data-widget-partner="object" data-widget-id="f758301b3b7" data-widget-version="1")
            
      .listthree
        input(type="checkbox" id="listthree" class='droppers')

        a.icon-contact
          span.list-item Contact

        .hideshow

          .sub.phones
          
            h1 Knockout Fitness

            a.tel(href='tel:16152551359')
              span (615) 255-1359
              
            a.map(data-fancybox data-src="#map" href="javascript:;") 2422 Winford Ave
              span Nashville, Tennessee
              span.link View Map
              #map.hidden
                |<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.9888818611194!2d-86.75594588416516!3d36.118128613493035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886465ee5a662df7%3A0x302a393534efc678!2s2422+Winford+Ave%2C+Nashville%2C+TN+37211!5e0!3m2!1sen!2sus!4v1521308982942" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          
          healcode-widget(data-type="prospects" data-widget-partner="object" data-widget-id="f723661b3b7" data-widget-version="0")

          .sub.copyline

            span &copy;#{new Date().getFullYear()} Knockout Fitness

      .listfour
        input(type="checkbox" id="listfour" class='droppers')

        a.icon-facebook
          span.list-item News
          
        .hideshow
          iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnashvilleboxing%2F&tabs=timeline&width=300&height=900&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="900" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")  
            
      .listsix
        input(type="checkbox" id="listsix" class='droppers')

        a.icon-mindbody(data-fancybox data-src="#download" href="javascript:;")
          span.list-item Get Our App
            
        #download.hidden
          
          a.store.apple(target="_blank" href="https://itunes.apple.com/us/app/knockout-fitness/id1265315131?ls=1&")
            img(src="_images/app-apple.svg")
           
          a.store(target="_blank" href="https://play.google.com/store/apps/details?id=com.fitnessmobileapps.knockoutfitness&hl=en")
            img(src="_images/app-google.svg")
          
