
extends layout

block content

block sidebar

  .nav-pane.slide-out.home

    .nav-items

      .listone
        input(type="checkbox" id="listone" class='droppers')

        a.icon-private
          span.list-item The Adventure 
            span of a Lifetime
            
          label(for="listone")
            .dropdown
              span.bar
              span.bar

        a.sub
          span.list-item Sportfishing

        a.sub
          span.list-item Recreation

        a.sub.fancybox(class='fancybox.iframe' href='file:///Users/lindsey/git/angry-eagle-2017/_includes/overlays/itinerary.html')
          span.list-item Sample Itinerary

        a.sub
          span.list-item Travel &amp; Packing

        a.sub
          span.list-item Fishing Equipment

        a.sub
          span.list-item Weddings &amp; Events

        a.sub.fancybox(class='fancybox.iframe' href='file:///Users/lindsey/git/angry-eagle-2017/_includes/overlays/testimonials.html')
          span.list-item Testimonials

        a.sub.fancybox(class='fancybox.iframe' href='file:///Users/lindsey/git/angry-eagle-2017/_includes/overlays/rates.html')
          span.list-item Rates

        a.sub.fancybox(class='fancybox.iframe' href='file:///Users/lindsey/git/angry-eagle-2017/_includes/overlays/faq.html')
          span.list-item Frequent Questions

      .listtwo
        input(type="checkbox" id="listtwo" class='droppers')

        a.icon-boots
          span.list-item All That's 
            span Missing Is You
            
          label(for="listtwo")
            .dropdown
              span.bar
              span.bar

        a.sub
          span.list-item Lodges

        a.sub
          span.list-item Fleet

        a.sub
          span.list-item Team

        a.sub
          span.list-item Galleries

        a.sub
          span.list-item Careers

      .listthree
        input(type="checkbox" id="listthree" class='droppers')

        a.icon-contact
          span.list-item Connect With 
            span Angry Eagle

          label(for="listthree")
            .dropdown
              span.bar
              span.bar

        .sub.phones
          a(href='tel:19078504153')
            span (907) 850-4153
          a.fancybox(class='fancybox.iframe' href='file:///Users/lindsey/git/angry-eagle-2017/_includes/overlays/map.html')
            span.map Pedro Bay, Alaska
              span View Map

        .sub.form
          include _includes/form

        .sub.socials
          a.icon-google(href='https://plus.google.com/102073266521304104835/about' target='_blank')
          a.icon-twitter(href='https://twitter.com/AngryEagleLodge' target='_blank')
          a.icon-facebook(href='https://www.facebook.com/pages/Rainbow-Bay-Resort/110232285696450' target='_blank')
          a.icon-youtube(href='https://www.youtube.com/channel/UCI8aOUNen1dcVNMCliUwqCA' target='_blank')
          a.icon-instagram(href='https://instagram.com/angryeaglelodge/' target='_blank')
      
  .toggle-nav
    span.m M
    span.e
      span.bar
      span.bar
      span.bar

  .copyline

    h1 &copy;#{new Date().getFullYear()} Knockout Fitness
