
.background-overlay
  background: rgba($white, .6)
  border-top: 4px solid $red
  bottom: 0
  height: 100%
  left: 0
  position: absolute
  right: 0
  top: 0
  width: 100%
  z-index: 0

  &.video, &.home
    background: url('../_images/burned.png') no-repeat center center transparent

video
  background-size: cover
  height: 103%
  left: 50%
  position: fixed
  top: 48.5%
  transform: translateX(-50%) translateY(-50%)
  width: auto
  z-index: -1

.background-image
  background-image: url(../_images/extralarge/reflection.jpg)
  background-position: center
  background-size: cover
  bottom: 0
  opacity: .6
  position: absolute
  top: 0
  width: 100%
  z-index: 0

  &:after
    bottom: 0
    content: ''
    height: 5px
    left: 0
    position: fixed
    right: 0
    width: 100%

  &.home
    opacity: 1
