form(name='nav_contact' method='POST' class='nav_contact')

    input(type='text' name='name' placeholder='name' required)

    input(class='phone' type='tel' name='phone' placeholder='phone' required)

    input(type='email' name='email' placeholder='email')

    input(type='button' class='submit' value="We'll Holler Back")
