
.slides

  s#s1
  s#s2
  s#s3
  s#s4

  .slider

    .s1

      span.icon-logo-text
      span.icon-logo-pedro
      
    .s2

      a(href='/').icon-logo-text

      h2
        | named One of the top 25 fishing lodges in North America, 
        br
        | Your adventure starts here.

      h3 For the past 30 years, we've prided ourselves on offering the fishing adventures of a lifetime.
      
      h4 Angry Eagle Lodge & Outfitters operates two full-service Alaskan fishing lodges in the heart of Southwest Alaska's Bristol Bay region. Our knowledgeable guides offer assistance and insight to fly and spinning anglers of all experience levels. And our large fleet of planes, boats, and ATVs means you'll always have a great place to cast a line regardless of the weather.

      a.button Our Galleries

    .s3
    
      a(href='/').icon-logo-text

      h5 
        | Whether you're into fishing, kayaking, or hiking, 
        br
        | Angry Eagle is ready to tailor an Alaskan adventure 
        br
        | just for you.
      
      .cell.three

        span.icon-worms

        h6 
          | See What's
          br
          | in Season

        p The Bristol Bay area in Southwest Alaska offers a wide variety of sportfishing, which means you're in for the angler experience of a lifetime.

        a.button Your Catch

      .cell.three
      
        span.icon-notebook

        h6 
          | Sample
          br
          | Itinerary

        p While no Angry Eagle Lodge & Outfitters adventure is the same, here's a sample itinerary to help you get a better idea of what to expect.

        a.button Your Itinerary

      .cell.three
      
        span.icon-bed

        h6 
          | Alaskan
          br
          | Lodges

        p Step into a world of rustic charm coupled with modern convenience. Our lodges are ideal for unwinding after a long day spent fishing.

        a.button Relax In Style

    .s4

      a.icon-logo-text
      
      .cells

        .cell.three

          p.heading Wedding Heading
          
          p.body Wedding lead-in goes here. Wedding lead-in goes here. Wedding lead-in goes here. Wedding lead-in goes here. Wedding lead-in goes here. Wedding lead-in goes here. 

          a.button Your Wedding

        .cell.three
        
          span.icon-poles
          
        .cell.three
        
          p.heading Corporate Events
          
          p.body Corporate Events lead-in goes here. Lead-in text goes here. Corporate Events lead-in goes here. Corporate Events lead-in text goes here. Lead-in text goes here.

          a.button Your Event

  .scroll-indicator
    
    a.dot(href="#s1")
    
    a.dot(href="#s2")
    
    a.dot(href="#s3")
    
    a.dot(href="#s4")
