
.slides

  s#s1
  s#s2
  s#s3

  .slider

    .s1

      a(href='#s2')
        img.logo(src='_images/knockout-fitness.svg' alt='Knockout Fitness logo')
      
      a.next(href='#s2')

    .s2

      a(href='#s1')
        img.snipe(src='_images/knockout-fitness.svg' alt='Knockout Fitness logo')

      h2 We work to bring out the best in all of our clients, regardless of age, size, or ability. If you are looking for a training regimen that works, look no further because when it comes to boxing fitness, we're in your corner!

      .cell.three.first

        span.icon-glove

        h3
          | Authentic Boxing
          br
          | Instruction

        p Knockout Fitness is the creation of professional boxer and USA boxing coach 
          a(data-fancybox data-src="#frank-bio" href="javascript:;") Frank Wood
          |. Since 1995, Knockout Fitness has provided professional and knowledgeable boxing and kickboxing fitness training in a friendly and enjoyable environment. If your fitness routine has become, well, routine, our boxing workout will keep you on your toes. Frank's 25+ years of boxing experience provides you with expert instruction in boxing form and technique creating a safe and fun learning experience to enhance the benefits of your workout.

        #frank-bio.hidden
          healcode-widget(data-type="staff_lists" data-widget-partner="object" data-widget-id="f721458b3b7" data-widget-version="0")
          
      .cell.three

        span.icon-weight

        h3
          | Strengthen
          br
          | and Tone

        p During a boxing workout, you will naturally engage your upper/lower body and core as you punch and kick heavy bags and mitts. We incorporate other boxing tools such as speed bag, double-end bag, weighted medicine balls, battle ropes, and calisthenics in an efficient one-hour total body workout.

      .cell.three.last

        span.icon-heart

        h3
          | Cardiovascular
          br
          | Endurance

        p Boxing is perhaps the ultimate in high-intensity interval training. Boxing alternates between periods of maximum effort and active recovery providing both an aerobic and anaerobic workout. While most cardio exercise focuses on the lower body, with boxing you engage your entire body. This type of workout builds endurance, speed, and power, and boosts your metabolism resulting in a calorie-busting cardio workout!

        a.button(href="#s3") Get Started
        a.button.eight(href="#s2") Get Started

    .s3
      
      a(href='#s1')
        img.snipe(src='_images/knockout-fitness.svg' alt='Knockout Fitness logo')

      .cell.two.first

        span.icon-glove

        h5 Group Classes

        script(type='text/javascript' src='https://widgets.healcode.com/javascripts/healcode.js')
        | <healcode-widget data-type='class_lists' data-widget-partner='object' data-widget-id='f729125b3b7' data-widget-version='0'>

      .cell.two.last

        span.icon-glove

        h5 Personal Training

        p Personal Fitness Training is available in both private and semi-private formats by appointment for all levels of fitness. This one-hour interval training workout will strengthen and tone your body while increasing cardiovascular endurance. Burning calories and fat comes naturally and looking fit and trim is the reward.

        a.button.open-private Schedule a Session
        
        p.details Dress comfortably in regular workout attire and shoes and get ready for an awesome workout.  You will need boxing hand wraps and gloves.  We train in 16oz hook and loop Velcro closure gloves and hand wraps (2" x 180"). We have used equipment you can borrow, or for convenience you can purchase new equipment 
          a(href='https://clients.mindbodyonline.com/classic/ws?studioid=644302&stype=43' target='_blank') online 
          | or on arrival at the gym.
          span.item.first
            a(href='https://clients.mindbodyonline.com/classic/ws?studioid=644302&stype=43&prodid=100045' target='_blank') hand wraps 
            span.price ($10.00)

          span.item
            a(href='https://clients.mindbodyonline.com/classic/ws?studioid=644302&stype=43&prodid=100049' target='_blank') Ringside gloves 
            span.price ($29.99)

          span.item
            a(href='https://clients.mindbodyonline.com/classic/ws?studioid=644302&stype=43&prodid=100047' target='_blank') Cleto Reyes gloves 
            span.price ($179.00)

  .scroll-indicator

    a.dot(href="#s1")

    a.dot(href="#s2")

    a.dot(href="#s3")
