
$red = #cc3333
$green = #3db779
$white = #d3cbbd
$black = #1c1919
$grey = #403d3c
$orange = #f15601

$font-path ?= "/Users/lindseyemaddox/Documents/src/knockout-fitness/_fonts/"

$icon-arrow = "\e900"
$icon-asterisk = "\e90a"
$icon-close = "\e909"
$icon-contact = "\e901"
$icon-facebook = "\e902"
$icon-glove = "\e903"
$icon-group = "\e904"
$icon-heart = "\e905"
$icon-menu = "\e90b"
$icon-mindbody = "\e906"
$icon-photos = "\e90c"
$icon-private = "\e907"
$icon-weight = "\e908"

$icon-width = 24px

$sidebar-collapsed-width = 75px
$sidebar-width = 280px
$sidebar-vertical-padding = 35px

$layout-max-width = 1000px
