@import "var"

@font-face
  font-family: 'knockout'
  font-style: normal
  font-weight: normal
  src: url($font-path + 'knockout.eot?6w4obi')
  src: url($font-path + 'knockout.eot?6w4obi#iefix') format('embedded-opentype'), url($font-path + 'knockout.woff2?6w4obi') format('woff2'), url($font-path + 'knockout.ttf?6w4obi') format('truetype'), url($font-path + 'knockout.woff?6w4obi') format('woff'), url($font-path + 'knockout.svg?6w4obi#knockout') format('svg')

[class^="icon-"], [class*=" icon-"]
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: 'knockout'!important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

.icon-arrow
  &:before
    content: $icon-arrow
.icon-contact
  &:before
    content: $icon-contact
.icon-facebook
  &:before
    content: $icon-facebook
.icon-glove
  &:before
    content: $icon-glove
.icon-group
  &:before
    content: $icon-group
.icon-heart
  &:before
    content: $icon-heart
.icon-mindbody
  &:before
    content: $icon-mindbody
.icon-private
  &:before
    content: $icon-private
.icon-weight
  &:before
    content: $icon-weight
