
@font-face
  font-family: 'knockout'
  font-style: normal
  font-weight: normal
  src: url($font-path + 'knockout.eot?k0clre')
  src: url($font-path + 'knockout.eot?k0clre#iefix') format('embedded-opentype'), url($font-path + 'knockout.ttf?k0clre') format('truetype'), url($font-path + 'knockout.woff?k0clre') format('woff'), url($font-path + 'knockout.svg?k0clre#knockout') format('svg')

[class^="icon-"],
[class*=" icon-"]
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: 'knockout'!important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

.icon-

  &arrow:before
    content: $icon-arrow

  &asterisk:before
    content: $icon-asterisk

  &close:before
    content: $icon-close

  &contact:before
    content: $icon-contact

  &facebook:before
    content: $icon-facebook

  &glove:before
    content: $icon-glove

  &group:before
    content: $icon-group

  &heart:before
    content: $icon-heart

  &mindbody:before
    content: $icon-mindbody

  &photos:before
    content: $icon-photos

  &private:before
    content: $icon-private

  &weight:before
    content: $icon-weight
