
button(w)
  background-color: $green
  border: 1px solid $green
  border-radius: 0
  color: $white
  display: block
  font-size: 13px
  letter-spacing: 2px
  margin-top: 15px
  max-width: 260px
  outline: 0
  padding: 1.2em 0
  primary-font($semibold)
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: all ease 400ms
  width: w

  &:after
    content: '\e900'
    font-family: 'knockout'
    font-size: 14px
    padding-left: 10px
    vertical-align: bottom

  &:hover
    background-color: transparent
    border: 1px solid $green
    cursor: pointer

    &:after
      color: $green

close-icon()
  &:before
    color: $white
    content: $icon-close
    display: block
    font-size: .25em
    padding-right: 25px
    text-align: right

  span.list-item
    visibility: hidden

image-5000()
  div.background-overlay.video
    background-image: url('../_images/extralarge/walking.jpg')
    background-size: cover
  .easyhtml5video
    display: none

image-2500()
  div.background-overlay.video
    background-image: url('../_images/large/walking.jpg')
    background-size: cover
  .easyhtml5video
    display: none

image-1000()
  div.background-overlay.video
    background-image: url('../_images/extramedium/walking.jpg')
    background-size: cover
  .easyhtml5video
    display: none

image-500()
  div.background-overlay.video
    background-image: url('../_images/medium/walking.jpg')
    background-size: cover
  .easyhtml5video
    display: none

image-250()
  div.background-overlay.video
    background-image: url('../_images/small/walking.jpg')
    background-size: cover
  .easyhtml5video
    display: none
