
html
  overflow: hidden!important

.wrapper
  margin: 0 auto
  max-width: $layout-max-width

  @media screen and (max-width: 1400px)
    margin: 0 0 0 40px

  @media screen and (max-width: 1200px)
    margin: 0 100px 0 40px
    max-width: 100%

  @media screen and (max-width: 800px)
    margin-right: 30px

.layout
  background-color: rgba($white .67)

  &.home
    background-color: transparent

  .main
    width: 100%
    z-index: 0

    .grid
      height: 100vh
      margin: 0 auto
      padding: $sidebar-vertical-padding 0 20px

.sidebar
  bottom: 0
  padding: $sidebar-vertical-padding 0
  position: absolute
  right: 0
  top: 0
  // width: $sidebar-collapsed-width
  z-index: 99

  @media screen and (max-width: 800px)
    // transition: all 400ms ease
    right: -110px

    .menu
      right: 35px

      // &:after
      //   content: $icon-close
      //   font-size: 40px
      //
    &.show
      background-color: rgba($black, .9)
      width: 100vw
      transition: background-color 300ms ease-out
      right: 0

      .nav-pane
        border-top: none
        height: 90vh
        top: 80px
        width: 110px
        right: 0

        &.private,
        &.group,
        &.contact,
        &.news
          padding-top: 0
          top: 0
          height: 100vh
          width: 100%
          right: 0

          .nav-items
            background-color: $black
            // padding-top: 45px

        // .nav-items
        //   margin-top: -15px

        [class^='list'] [class^='list']
          opacity: 1
          transition: opacity 400ms ease-in

    .menu
      display: block
      cursor: pointer
      position: fixed
      // z-index: 99999

      &:after
        content: $icon-menu
        display: block
        height: 40px
        font-size: 40px
        font-family: 'knockout'
        color: $green

.sidebar.show .nav-pane
  @media screen and (max-width: 400px)
    height: 84vh
    top: 60px

  // [class^="list"] [class^="list"]
  //   @media screen and (max-width: 800px)
  //     transition: none

  .nav-items a

    @media screen and (max-width: 800px)
      .list-item
        visibility: visible
        color: $white

      &:before
        color: $white

      &:hover .list-item,
      &:hover:before
        color: $green
        transition: none




  &--collapsed
    animation: layout-slide 400ms 100ms forwards
