
$icon-font-path ?= "_fonts"

$icon-arrow = "\e900"
$icon-contact = "\e901"
$icon-facebook = "\e902"
$icon-glove = "\e903"
$icon-group = "\e904"
$icon-heart = "\e905"
$icon-mindbody = "\e906"
$icon-private = "\e907"
$icon-weight = "\e908"
