
nav-icon-view()

  .hideshow
    display: none

  .nav-items

    a
      cursor: pointer
      text-decoration: none
      transition: color 200ms ease

      .list-item
        display: block

    .sub
      font-size: 1.5em
      transition: height 200ms ease
      overflow: hidden
      padding-left: 29px
      height: 0

      .logo
        margin: 0 auto
        padding-left: 30px

      &.phones
        height: inherit

  [class^="list"] label
    display: none
    width: 100%

nav-list-view()

  .nav-items
    margin-top: 40px

  .sub
    height: auto
    transition: height 400ms ease

  .hideshow
    display: block
    text-align: center

    h1.healcode-title-text
      color: $white
      font-size: 23px
      letter-spacing: 2px
      primary-font($semibold)
      line-height: 1.6em
      text-transform: uppercase
      width: 100%
      max-width: 300px
      margin: 0 auto 30px
      border-bottom: 1px solid #aaa
      padding-bottom: 4px

  &.private
    .listtwo,
    .listthree,
    .listfour,
    .listfive,
    .listsix
      display: none

    .listone
      width: 100%
      right: 0

      .icon-private
        close-icon()

  &.group
    // background-color: #000
    .listone,
    .listthree,
    .listfour,
    .listfive,
    .listsix
      display: none

    .listtwo
      top: 0
      width: 100%
      right: 0

      .icon-group
        close-icon()

      .hideshow
        letter-spacing: 0
        margin-top: 40px

      label
        display: inline-block
        width: auto
        position: inherit
        right: inherit
        height: auto

  &.contact
    .listone,
    .listtwo,
    .listfour,
    .listfive,
    .listsix
      display: none

    .listthree
      margin: 0 auto
      // max-width: 300px
      position: initial
      width: 90%
      right: 0

      .icon-contact
        close-icon()
        &:before
          padding-right: 0

      .hideshow
        position: relative
        overflow-y: scroll

    .sub
      padding-left: 0

    .phones
      margin-top: 40px

    .logo
      position: inherit
      height: auto
      display: block
      width: 80%
      margin-bottom: 50px
      padding-left: 0

    .prospect
      height: auto
      transition: height 400ms ease

  &.news
    .listone,
    .listtwo,
    .listthree,
    .listfive,
    .listsix
      display: none

    .listfour
      margin: 0 auto
      // max-width: 300px
      position: initial
      width: 100%

      .icon-facebook
        close-icon()

      iframe
        margin-top: 40px

.nav-pane

  h1
    primary-font($bold)
    font-size: 23px
    letter-spacing: 1px
    text-transform: uppercase
    color: $white
    text-align: center

  .nav-items
    height: 100%
    letter-spacing: 4px
    margin: 10px auto 0
    position: relative
    overflow-y: scroll
    overflow-x: hidden
    width: 300px

    @media screen and (max-width: 800px)
      width: 100%

    .sub.phones
      padding-left: 50px

      a
        display: block
        font-size: 22px
        text-decoration: none
        color: $white
        margin-bottom: 15px
        text-align: center
        text-transform: uppercase
        primary-font($light)
        transition: color 400ms ease
        width: 100%

        &.tel:hover
          color: $green

        &.map
          font-size: 12px
          letter-spacing: 2px
          text-align: center
          display: block
          color: $white
          text-transform: uppercase
          margin-bottom: 30px
          primary-font($regular)
          transition: opacity 400ms ease


          &:hover,
          &:hover .link
            color: $green
            opacity: .7

          span
            display: block

            &.link
              color: $green
              padding-top: 5px



    a
      text-align: center

      &:before
        font-size: 0.5em

      &:not(.sub), &:not(.sub a)
        margin-bottom: 10px
        position: relative

        span
          position: absolute
          top: 1em
          left: 80px

      &:before
        vertical-align: middle

      &.icon-contact .list-item
        text-align: left

      .list-item
        color: $white
        font-size: 0.18em
        vertical-align: top
        text-transform: uppercase
        primary-font($normal)
        letter-spacing: 0
        line-height: 1em
        position: absolute
        right: 60px
        text-align: right
        top: 43px
        width: 250px

        @media screen and (max-width: 1200px)
          visibility: hidden

      &.sub
        font-size: 2em
        margin-left: 0.65em
        cursor: pointer

        span
          padding-left: .75em
          font-size: .475em

[class^="list"]
  position: absolute
  right: 30px

  &:hover a
    span.list-item
      color: $green
      transition: color 400ms ease

      @media screen and (max-width: 1200px)
        visibility: visible
        text-shadow: .5px .5px $black

  input.droppers
    position: absolute
    left:-99999px
    top: -99999px

  label
    position: absolute
    cursor: pointer
    z-index: 1
    width: 40px
    right: 15px
    top: 0
    padding-left: 0
    height: 40px

  a[class^="icon"]
    font-size: 80px

.icon-contact
  position: relative

  .list-item
    position: absolute
    left: -72px
    bottom: 0

.prospect
  height: 0
  overflow: hidden

.nav-pane
  border-top: 4px solid $red
  // transition: 250ms
  position: fixed
  top: 0
  right: 0
  height: 100vh
  nav-icon-view()

  @media screen and (max-width: 800px)
    // overflow: hidden

    // [class^='list']
    //   opacity: 0
    //
  &.home
    background-color: transparent

    .nav-items a

      label:hover .dropdown span.bar
        background: $green

      &:hover:before
        color: $green
        transition: color 400ms ease

      &:before
        color: $white

      .dropdown span.bar
        background: $white

  &.private,
  &.group,
  &.contact,
  &.news
    width: 320px
    background-color: rgba($black, 0.9)
    box-shadow: 0px 3px 10px rgba($black, 0.2)
    right: 0
    nav-list-view()

    @media screen and (max-width: 800px)
      width: 100%

    .nav-items .listthree

      .socials
        height: 0
        margin: 60px 0 0 34px
        overflow: hidden

        a[class^="icon-"]
          display: inline
          font-size: 2.6em
          line-height: 1em
          text-decoration: none
          width: auto
          padding: 0 9px 0 0
          color: $green

      [class^="icon-"]:not(.icon-contact)
        color: $white
        font-size: 2em
        padding-right: 9px
  //
  // &.private
  //   background-color: #000

.listtwo
  top: 60px

.listthree
  // bottom: 200px
  bottom: 140px

.listfour
  // bottom: 140px
  bottom: 80px

.listfive
  bottom: 80px
  display: none

.listsix
  bottom: 20px

div.healcode,
.healcode
  primary-font($normal)
  padding-bottom: 70px

  div.list_view li div.signup
    top: 20px

  &.appointments
    max-width: 300px
    width: 100%

    .ui-datepicker
      max-width: 300px
      width: 100%

    a.hc-button
      button(100%)
      max-width: 300px

    .header
      margin-top: 6vh
      overflow-x: hidden
      height: 78vh
      margin-bottom: 3vh

      h1 .healcode-title-text,
      h1
        color: $white
        font-size: 23px
        letter-spacing: 2px
        primary-font($semibold)
        line-height: 1.6em
        text-transform: uppercase

      h1
        font-size: 2.4em
        line-height: 1em

        &.healcode-date-label
          font-size: 1.5em

      .trainer-label a
        color: $white
        font-size: .8em
        letter-spacing: .25em
        primary-font($bold)
        line-height: 3em

        &:hover
          color: $green
          transition: color 400ms ease

    .header .healcode-appointments p
      font-size: 1em
      letter-spacing: .1em
      primary-font($light)
      line-height: 2em

    .pre-filters
      margin: 30px 0

      select
        color: $grey
        letter-spacing: 0
        margin-bottom: 10px
        padding: 3px 0 5px
        primary-font($semibold)
        width: 100%
        max-width: 300px

      &:nth-child(2)
        color: $white
        font-size: 1em
        letter-spacing: 2px
        line-height: 2em
        primary-font($bold)

    a.action_icon
      display: none
      margin: 0
      color: $green
      font-size: 20px
      line-height: 1em
      padding: 0
      position: absolute
      right: 0
      top: -10px
      &.my_account_version
        margin: 0

      .action_text.my_account_text
        color: $green
        font-size: 12px
        primary-font($normal)
        line-height: 0
        letter-spacing: 0
        margin-right: 27px
        top: 1px
        position: relative

        &:hover
          color: $white
          transition: color 400ms ease

      img
        margin: 0

    .ui-state-default,
    .ui-datepicker-header a
      font-size: 1em

    &.list_view .header
      td,
      td.ui-state-disabled,
      td.ui-datepicker-current-day,
      td.ui-datepicker-week-end,
      td.ui-widget-content .ui-state-disabled,
      td.ui-widget-header .ui-state-disabled
        padding-top: 0!important
        vertical-align: top

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-state-highlight,
    .ui-state-active
      padding: 10px 0
      text-align: center

  .bw-empty__clear
    display: none

  time
    display: inline-block

  .bw-widget
    width: 100%
    max-width: 300px
    margin: 0 auto

  .bw-calendar__heading
    font-weight: 100

  .bw-calendar__day
    font-weight: 700

#download
  background-color: #fff
  max-width: 330px
  padding: 60px 20px 20px
  width: 100%

  .store
    display: block

    img
      display: block
      width: 100%

    &:hover img
      opacity: .7
      transition: opacity 400ms ease

    &:first-child
      margin-bottom: 20px

.copyline
  position: absolute
  bottom: 50px
  right: 0

  span
    color: rgba($white, 0.5)
    font-size: 9px
    primary-font($semibold)
    text-align: center
    letter-spacing: .25em
    text-transform: uppercase

.hideshow div.healcode.prospect form,
.hideshow div.healcode.prospect form .hc_prospect,
.hideshow div.healcode.prospect form .hc_prospect .hc-prospect-field,
.hideshow div.healcode.prospect form .hc_prospect *
  font-size: 14px

#bw-widget__schedules-f758301b3b7
  padding-bottom: 70px
